.prontuario{
    margin-left:600px;
    margin-top:-750px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 800px;
    height: 200px;
}
.prontuario form{
    width: 400px;
}
