<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Resultado</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Voltar</a></li>
                <li><a href="{{ url_for('logout') }}">Sair</a></li>
            </ul>
        </nav>
        <div class="content">
        <h1>Resultado da Busca</h1>
        {% if tipo=="profissional" %}
        <ul>
                {% for profissional in profissionais %}
            <li>
                {{ profissional.nome }} - {{ profissional.crm }}
                <a href="{{ url_for('selecionarProfissionalRoute', id=profissional.id) }}">Selecionar</a>
            </li>
        {% endfor %}
        </ul>
        {% elif tipo=="paciente" %}
            <ul>
                {% for paciente in pacientes %}
            <li>
                {{ paciente.nome }} - {{ paciente.cpf }}
                <a href="{{ url_for('selecionarPacienteRoute', id=paciente.id) }}">Selecionar</a>  <a href="{{url_for('gerar_pdf', idPaciente = paciente.id)}}" target="_blank">Relatório</a>
            </li>
                {% endfor %}
    </ul>
        {% else %}
            <p>Tipo inválido.</p>
        {% endif %}
        </div>
    </body>