<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Consultas</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Voltar</a></li>
            <li><a href="{{ url_for('logout') }}">Sair</a></li>
        </ul>
    </nav>
    <div class="content">
        {% if tipo == 'paciente' and paciente %}
        <h2>Editar Paciente</h2>
        <form method="POST" action="{{ url_for('editarPacienteRoute', id=paciente.id) }}">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" value="{{ paciente.nome }}" required><br>

            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" value="{{ paciente.cpf }}" required><br>

            <label for="dataNasc">Data de Nascimento:</label>
            <input type="date" id="dataNasc" name="dataNasc" value="{{ paciente.dataNasc }}" required><br>

            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="endereco" value="{{ paciente.endereco }}" required><br>

            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" name="telefone" value="{{ paciente.telefone }}" required><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ paciente.email }}" required><br>

            <input type="submit" value="Salvar">
        </form>
        {% elif tipo == 'profissional' and profissional %}
        <h2>Editar Profissional</h2>
        <form method="POST" action="{{ url_for('editarProfissionalRoute', id=profissional.id) }}">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" value="{{ profissional.nome }}" required><br>

            <label for="cargo">Cargo:</label>
            <input type="text" id="cargo" name="cargo" value="{{ profissional.cargo }}" required><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ profissional.email }}" required><br>

            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" name="telefone" value="{{ profissional.telefone }}" required><br>

            <label for="crm">CRM:</label>
            <input type="text" id="crm" name="crm" value="{{ profissional.crm }}" required><br>

            <input type="submit" value="Salvar">
        </form>
        {% else %}
        <p>Nenhum resultado encontrado.</p>
        {% endif %}
    </div>
</body>

</html>