<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Resultado</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Voltar</a></li>
            <li><a href="{{ url_for('logout') }}">Sair</a></li>
        </ul>
    </nav>
    <div class="content">
        {% if tipo == 'paciente' and paciente %}
        <h2>Paciente Selecionado</h2>
        <ul>
            <li><strong>ID:</strong> {{ paciente.id }}</li>
            <li><strong>Nome:</strong> {{ paciente.nome }}</li>
            <li><strong>CPF:</strong> {{ paciente.cpf }}</li>
            <li><strong>Data de Nascimento:</strong> {{ paciente.dataNasc }}</li>
            <li><strong>Endereço:</strong> {{ paciente.endereco }}</li>
            <li><strong>Telefone:</strong> {{ paciente.telefone }}</li>
            <li><strong>Email:</strong> {{ paciente.email }}</li>
            <a href="{{ url_for('verificarProntuarioPacienteRoute', id = paciente.id) }}">Ver Prontuário</a>
            {% if current_user.isAdmin == 1 %}
            <a href="{{ url_for('editarPacienteRoute', id = paciente.id) }}">Editar Paciente</a>
            {% endif %}
        </ul>
        {% elif tipo == 'profissional' and profissional %}
        <h2>Profissional Selecionado</h2>
        <ul>
            <li><strong>ID:</strong> {{ profissional.id }}</li>
            <li><strong>Nome:</strong> {{ profissional.nome }}</li>
            <li><strong>Cargo:</strong> {{ profissional.cargo }}</li>
            <li><strong>Email:</strong> {{ profissional.email }}</li>
            <li><strong>Telefone:</strong> {{ profissional.telefone }}</li>
            <li><strong>CRM:</strong> {{ profissional.crm }}</li>
            {% if current_user.isAdmin == 1 %}
            <a href="{{ url_for('editarProfissionalRoute', id = profissional.id) }}">Editar Profissional</a>
            {% endif %}
        </ul>
        {% else %}
        <p>Nenhum resultado encontrado.</p>
        {% endif %}
    </div>
</body>

</html>